/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
background-color: #0b0b0b; /* nero non totale */
color: #e6e6e6; /* bianco morbido */
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}


header {
padding: 40px 20px;
}


.logo {
width: 180px;
margin-bottom: 20px;
}


h1 {
font-size: 2.5rem;
letter-spacing: 2px;
}


p {
color: #bfbfbf;
}


.services {
padding: 60px 20px;
}


.services h2 {
font-size: 2rem;
margin-bottom: 40px;
}


.service-box {
border: 1px solid #222;
padding: 30px;
margin: 20px auto;
max-width: 400px;
background-color: #111;
}


.service-box h3 {
margin-bottom: 10px;
}


.price {
display: block;
margin-top: 15px;
font-size: 1.5rem;
color: #ffffff;
}


.highlight {
border-color: #444;
}
